<tr
    hx-get="{{url_for('devices.empty')}}"
    hx-swap="innerHTML"
>
  <td colspan="6">
    <dl class="config">
      <dt>Site Name</dt>
      <dd>
        {% if config.metadata %}
        {{config.metadata.SiteName}}
        {% endif %}
      </dd>
      <dt>Lat/lon</dt>
      <dd>
        {% if config.metadata %}
        {{config.metadata.SiteLat}}, {{config.metadata.SiteLon}}
        {% endif %}
      </dd>
      <dt>Code Version</dt>
      <dd>
        {{device.code_version}}
      </dd>
      <dt>Schedule</dt>
      <dd>
        {{ config|config_schedule|safe }}
      </dd>
      <dt>Attract</dt>
      <dd>
        {% if config.schedule %}
        {% if config.schedule.onlyflash %} OnlyFlash {% endif %}
        {% if config.schedule.attracttwo %} 2nd Strip {% else %} 1st Strip {% endif %}
        {% endif %}
      </dd>
    </dl>
  </td>
</tr>
