{% extends "base.html" %}

{% block title %}Devices{% endblock %}

{% block content %}
<h2>Devices</h2>
<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Site Users</th>
      <th>Antenna Station</th>
      <th>Last Seen</th>
      <th>Upload Key</th>
      <th><button class="action"
                  hx-post="{{url_for('devices.create_key')}}"
                  hx-target="next tbody"
                  hx-swap="afterbegin"
          >+</button></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="device_tbody" hx-swap-oob="true">
    {% for device in devices %}
    {% include "devices/hx/row.html" %}
    {% endfor %}
  </tbody>
</table>

<h2>Retired Devices</h2>
<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Site Users</th>
      <th>Antenna Station</th>
      <th>Last Seen</th>
      <th>Upload Key</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="device_retired_tbody" hx-swap-oob="true">
    {% for device in retired_devices %}
    {% include "devices/hx/row.html" %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}
