{% macro indicator() %}
<img class="htmx-indicator" src="/static/images/spinner-oval.svg" alt="Loading...">
{% endmacro %}

{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title}}{%endblock%} | Moth Monitor</title>
    {%- block metas %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Fanwood+Text" rel="stylesheet">
    
    <script src="/static/js/vendor/htmx.min.js"></script>

    {%- block head_scripts %}
    {%- endblock head_scripts %}

    {%- block styles %}
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body>
    {% block body -%}
    <div class="pure-g">
      <nav class="sidebar pure-u-1 pure-u-md-1-4">
        <header>
          <img src="/static/images/arctia_caja.svg" />
          <h1>Moth Monitor</h1>
        </header>
        <div class="pure-menu pure-menu-scrollable">
          <ul class="pure-menu-list">
            <li class="pure-menu-header">Home</li>
            {% if current_user.is_authenticated %}
            <li class="pure-menu-item"><a href="{{ url_for('main.index') }}" class="pure-menu-link">Dashboard</a></li>
            <li class="pure-menu-header">Monitor</li>
            <li class="pure-menu-item"><a href="{{ url_for('upload.index')}}" class="pure-menu-link">Upload</a></li>
            <li class="pure-menu-item"><a href="{{ url_for('devices.list') }}" class="pure-menu-link">Devices</a></li>
            <li class="pure-menu-item"><a href="{{ url_for('main.index') }}" class="pure-menu-link">Datasets</a></li>
            <li class="pure-menu-header">Account</li>
            <li class="pure-menu-item"><a href="{{ url_for('users.manage_users') }}" class="pure-menu-link">Manage Users</a></li>
            <li class="pure-menu-item"><a href="{{ url_for('security.change_email') }}" class="pure-menu-link">Change Email</a></li>
            <li class="pure-menu-item"><a href="{{ url_for('security.change_password') }}" class="pure-menu-link">Change Password</a></li>
            <li class="pure-menu-item"><a href="{{ url_for('security.logout') }}" class="pure-menu-link">Logout</a></li>
            {% else %}
            <li class="pure-menu-item"><a href="{{ url_for('security.login') }}" class="pure-menu-link">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <main class="content pure-u-1 pure-u-md-3-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
          {% for category, message in messages %}
          <li class="{{category}}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}      

        {% block content %}

        {% endblock %}
      </main>
    </div>
    {% block scripts %}
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
  {%- endblock html %}
</html>
{% endblock doc -%}
