<html>
  <head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  </head>
  <body style="margin:0px;height:100% !important;margin:0px !important;padding:0px !important;width:100% !important;">
    <div style="height: 100%; margin: 0; padding: 0; width: 100%;">
      <center>
        <table style="border-collapse: collapse; height: 100%; margin: 0; padding: 0; width: 100%;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr>
              <td style="height: 100%; margin: 0; padding: 0; width: 100%;" align="center" valign="top">
                <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="background: #beedc2 no-repeat center/cover; border-top: 0; border-bottom: 0; padding-top: 20px; padding-bottom: 20px;" align="center" valign="top">
                        <table style="border-collapse: collapse; max-width: 600px!important;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                          <tbody>
                            <tr>
                              <td style="word-break: break-word; color: #000000; font-family: Helvetica; font-size: 24px; line-height: 150%; text-align: center; padding: 0 18px 9px 18px;" valign="top">
                                <h1>Moth Monitor 2.0</h1>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="background: #ffffff none no-repeat center/cover; background-color: #ffffff; background-image: none; background-repeat: no-repeat; background-position: center; background-size: cover; border-top: 0; border-bottom: 0; padding-top: 36px; padding-bottom: 16px;" align="center" valign="top">
                        <table style="border-collapse: collapse; max-width: 600px!important;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                          <tbody>
                            <tr>
                              <td style="background: transparent none no-repeat center/cover; background-color: transparent; background-image: none; background-repeat: no-repeat; background-position: center; background-size: cover; border-top: 0px; border-bottom: 0px; padding-top: 0; padding-bottom: 0;" valign="top">
                                <h2>{% block title %}Title{% endblock %}</h2>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="background: #ffffff none no-repeat center/cover; background-color: #ffffff; background-image: none; background-repeat: no-repeat; background-position: center; background-size: cover; border-top: 0; border-bottom: 0; padding-top: 16px; padding-bottom: 54px;" align="center" valign="top">
                        <table style="border-collapse: collapse; max-width: 600px!important;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                          <tbody>
                            <tr>
                              <td style="background: transparent none no-repeat center/cover; background-color: transparent; background-image: none; background-repeat: no-repeat; background-position: center; background-size: cover; border-top: 0; border-bottom: 0; padding-top: 0; padding-bottom: 0;" valign="top">
                                {% block contents %}{% endblock %}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="background: #beedc2 none no-repeat center/cover; border-top: 0; border-bottom: 0; padding-top: 10px; padding-bottom: 10px;" align="center" valign="top">
                        <table style="border-collapse: collapse; max-width: 90%!important;" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
                          <tbody>
                            <tr>
                              <td style="background: transparent none no-repeat center/cover; background-color: transparent; background-image: none; background-repeat: no-repeat; background-position: center; background-size: cover; border-top: 0; border-bottom: 0; padding-top: 0; padding-bottom: 0;" valign="top">
                                <table style="min-width: 100%; border-collapse: collapse;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table style="min-width: 100%; border-collapse: collapse;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 9px;" valign="top">
                                        <table style="max-width: 100%; min-width: 100%; border-collapse: collapse;" border="0" width="100%" cellspacing="0" cellpadding="0" align="left">
                                          <tbody>
                                            <tr>
                                              <td style="word-break: break-word; color: #000000; font-family: Helvetica; font-size: 14px; line-height: 150%; text-align: center; padding: 0 18px 9px 18px;" valign="top">
                                                <strong>
                                                  <span style="font-size: 9px;">Copyright &copy; 2026
                                                    <i>Moth Monitor</i>
                                                  </span>
                                                </strong>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </div>
  </body>
</html>
