{% extends "base.html" %}

{% block title %}Manage Users{% endblock %}

{% block content %}
<h2>User List</h2>
<table class="pure-table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Active?</th>
      <th>Last Login</th>
      <th>Roles</th>
      <th><button class="action"
                  hx-get="{{url_for('main.manage_users_edit')}}"
                  hx-target="next tr"
                  hx-swap="beforebegin"
          >Add</button></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      {% include "hx/manage_users_row.html" %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
