:root {
    --gallery-per-row: 5;
    --error-color: #933;
    --button-color:  #beedc2;
    --button-border-color: #393;
    --ok-color: #393;
}

body {
    font-family: "Fanwood Text", serif;
}

.sidebar {
    background-color: var(--button-color);
    border-right: 1px solid #eeebee;    
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

.sidebar header {
    margin: 2em 0 0 2em;
    
}

.sidebar header h1 {
    display: inline-block;
    font-size: x-large;
}

.sidebar header img {
    display: block;
    height: 5em;
}

@media (max-width: 48em) {
    .sidebar header {
        margin: 0.5em 0 0 2em;
    }
    
    .sidebar header h1 {
        margin: 0.1em;
    }
    .sidebar header img {
        display: inline-block;
        max-height: 2em;
        width: 3.2em;
        vertical-align: text-bottom;
    }
}

.sidebar .pure-menu {
    margin-left: 2em;
    
}

.sidebar .pure-menu-link {
    color: #333;
}

@media (max-width: 48em) {
  /* HORIZONTAL MENU */
  .sidebar .pure-menu {
      white-space: nowrap;
}

  .sidebar .pure-menu .pure-menu-list {
    display: inline-block;
}

  .sidebar .pure-menu .pure-menu-item,
  .sidebar .pure-menu .pure-menu-heading,
  .sidebar .pure-menu .pure-menu-separator {
      display: inline-block;
      vertical-align: middle;
  }
  .sidebar .pure-menu.pure-menu-scrollable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    /* a little extra padding for this style to allow for scrollbars */
    padding: .5em 0;
  }  
}


.content {
    padding: 2em 3em 0;
    margin-left: 25%;
}

@media (max-width: 48em) {
    .content {
        padding: 2em 0;
        margin-left: 5%;
    }
}


/* Forms */

form fieldset {
    margin: 0.5rem;
}
form fieldset>label {
    font-size: large;
    font-style: italic;
    padding-bottom: 0.5rem;
    display: block;
}

ul.errors {
    color: var(--error-color);
}

form dt.form-label {
    text-align: left;
}

form dd {
    padding: 0.2em;
    padding-right: 2rem;
}

form .save, form input[type=submit], button {
    background-color: var(--button-color);
    padding: 0.5rem;
    border: 1px solid var(--button-border-color);
    border-radius: 0.5rem;
}

form .save, button.action {
    margin-top: 2rem;
    margin-right: 1rem;
}

.login-form dd {
    margin-left: 0;
}

/* Flash messages */

ul.flashes {
    width: 100%;
    padding-left: 0px;
    list-style-type: none;
}

ul.flashes li {
    padding: 0.5rem;
    color: white;
    background-color: #666
}
ul.flashes li.ok {
    background-color: var(--ok-color);
}
ul.flashes li.error {
    background-color: var(--error-color);
}


/* Flask-Security */
.fs-center { text-align: center }
.fs-important { font-size: larger; font-weight: bold }
/*.fs-gap { margin-top: 20px; }*/
.fs-div { margin: 4px; }
.fs-error-msg {
    display: inline-block;
    padding: 0.5rem;
    color: white;
    list-style-type: none;
    background-color: var(--error-color);
}
